/*GENERAL*/

body {
    margin: 0;
}

h1 {
    text-align: center;
    color: black;
    font-size: 70px;
    border-style: solid;
    border-bottom-color: red;
    border-top-color: blue;
    border-left-color: red;
    border-right-color: blue;
    border-bottom-width: 60px;
    border-top-width: 60px;
    border-right-width: 60px;
    border-left-width: 60px;
    margin-top: 0px;
    margin-bottom: 1px;
    color: #000000;
    background: #FFFFFF;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.cuerpobanner {
    background-image: url(../images/fondo.png);
    background-size: contain;
    height: 350px;
    display: flex;
    flex-direction: column;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link {
    height: 40px;
    border-right-color: white;
    border-left-color: white;
    border-bottom-color: white;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
    width: 230px;
    text-align: center;
    height: 55px;
    background-color: black;

}

.link:hover {
    background-color: green;
}

.activelink {
    height: 40px;
    border-right-color: white;
    border-left-color: white;
    border-bottom-color: white;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
    width: 230px;
    text-align: center;
    height: 55px;
    background-color: green;
}

a {
    color: black;
    font-size: 25px;
    text-align: center;
    color: white;
}

a:active {
    color: blue
}

.imagebanner {
    display: flex;
    justify-content: center;
}

.logo {
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.subtext {
    text-align: center;
    color: whitesmoke;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px
}

.subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: blue;
}

.information {
    margin-left: 90px;
    margin-right: 90px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 28px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}


p {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 700;
}


/*INDEX*/

.indexcore {
    background-image: url(../images/home3.jpeg);
    background-size: cover;
    min-height: 800px;
}

/*ABOUT*/

.aboutcore {
    background-image: url(../images/home2.jpg);
    background-size: cover;
    min-height: 800px;
}

/*CONTACT*/

.contactcore {
    background-image: url(../images/home.jpg);
    background-size: cover;
    min-height: 800px;
}

.contactcore .information div {
    margin-top: 50px;
    margin-bottom: 100px;
}

.mail {
    color: blue;
    font-size: 35px;
    display: flex;
    justify-content: center;
}

/*RULES*/

.rulescore {
    background-image: url(../images/home4.jpeg);
    background-size: cover;
    min-height: 800px;
}

li {
    font-size: 23px
}

ul {
    list-style-type: square;
    color: black;
}


.ul2 {
    list-style-type: disc;
}

.listtitle {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h4 {
    text-decoration: underline;
    font-style: oblique;
}

span {
    font-size: 18px;
    font-weight: 900
}

.infofoot {
    font-size: 24px;
    color: black;
    font-size: 15px;
    text-align: left;
    font-weight: 100;
    letter-spacing: 1px;
    font-family: "times new roman";
}

.infofoot > span {
    color: black;
    font-size: 15px;
    font-weight: 900;
    font-family: "times new roman";
    font-size: 24px;
}

/*GAME INFO*/

.gameinfocore {
    background-image: url(../images/main.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
}

.mailgameinfo {
    color: blue;
    font-size: 25px;
}

/*GAME INFO - TABLAS*/

.tablas {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 23px;
}

.tablas td {
    border-style: solid
}

.tabtit {
    text-decoration: underline;
}


.tabla2,
.tabla3 {
    margin-bottom: 20px;
}

.tabtit > .teams,
tabtit > .times {
    width: 100px;
}


.tabtit > .months {
    width: 150px;
}

.tabla3 td {
    width: 300px;
}

.tabla1 tr:hover,
.tabla2 tr:hover,
.tabla3 tr:hover {
    background-color: red;
}

.colordate {
    font-weight: 900;
    padding-left: 30px;
}

.tabla1 {
    margin-bottom: 10px;
}

.tabla1 tr:nth-child(odd) td:first-child {
    color: black;
}

.tablas p {
    color: black;
    font-size: 20px;
}

/*GAME INFO - MAPAS*/
.maps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}

.maptit,
.mapfooter {
    color: white;
    background-color: black;
    font-size: 20px;
}

.maptit {
    text-decoration: underline;
}


.maps div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.maps div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*REGISTRATION*/

.registrationcore {
    background-image: url(../images/negative-space-kicking-football-soccer-ball.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
}


.agreementtext {
    color: black;
    text-align: left;
    font-size: 15px;
}

.boxformulario1 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.boxformulario1 input {
    flex-grow: 1
}

.boxformulario2 {
    margin-bottom: 20px;
}

.boxformulario2 div {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 900;
}

.schools,
.schools1 {
    display: flex;
    flex-direction: row;
}

.boxformulario2 div:nth-child(1) {
    margin-bottom: 20px;
}


.columnas1,
.columnas2 {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}



fieldset {
    border-style: none;
}


.consent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.signininput input {
    width: 800px;
    margin-right: 50px;
}

legend {
    font-size: 26px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.registrationcore div:nth-child(4) {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.gender {
    padding-left: 200px;
}

label,
radio {
    font-size: 22px;
    font-weight: 900;
}

.submit {
    text-align: center;
}

#submit {
    height: 50px;
    width: 100px;
    font-size: 22px;
    color: white;
}

#submit:hover {
    background-color: red;
}

input {
    background: gray;
}

input:hover {
    background-color: red;
}

/*SHOW DATA*/

.showdatacore {

    background: rgba(226, 226, 226, 1);
    background: linear-gradient(135deg, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 18%, rgba(209, 209, 209, 1) 38%, rgba(254, 254, 254, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1);
    padding-bottom: 210px;
    min-height: 700px;
}

.showdata {
    font-size: 80px;
    text-align: center;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.rulesheader {
    text-align: left
}
